@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes heart-float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-40px) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-80px) scale(1);
    opacity: 0;
  }
}

.animate-heart-float {
  animation: heart-float linear infinite;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-out;
}
